<!-- Begin MailChimp Signup Form -->

<style type="text/css">
 	
  #mc_embed_signup {
    clear:left; 
    font-size:.75rem;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    margin: 15px 10px 5px 10px;
  }
  
  #mc_embed_signup input.button {
    font-size:.75rem;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    display: block;
    width: 100%;
    margin: 0 0 7px 0;
    min-width: 90px;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
}

#mc_embed_signup input {
    border: 1px solid #999;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 3px;
    font-size: .75rem;
    padding: 4px;
}

#mc_embed_signup .button {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    margin: 0 0px 10px 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    transition: all 0.23s ease-in-out 0s;
}

</style>


<div id="mc_embed_signup">
<form action="https://wssdesigns.us17.list-manage.com/subscribe/post?u=6e959379a52a85e77a85faf02&amp;id=eadc09447a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e959379a52a85e77a85faf02_eadc09447a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
